* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: unset;
}

body{
    height: 100vh;
}

.width100 {
    width: 100%;
}

header {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background-color: #2A3356;
}

.centrar_vertical img {
    height: 180px;
}

.centrar_vertical {
    display: block;
    height: 100%;
    width: 260px;
    margin: 0 auto;
    align-content: center;
}

.mobile_nav {
    display: block;
    height: 60px;
    background-color: #F35B25;
    align-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor_iconos_derecha_multiple{
    display: flex;
}

.contenedor_icono_izquierda i,
.contenedor_icono_derecha i {
    padding: 10px;
    font-size: 25px;
    color: white;
}

.contenedor_icono_izquierda i {
    float: left;
}

.contenedor_icono_derecha i {
    float: right;
}

/* main {
    background-color: white;
    display: block;
    height: 100vh;
} */

.mobile_nav_desplegable {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 20;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 1.5s ease;
    pointer-events: none;
}

.mobile_nav_desplegable.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    
}

.contenedor_encabezado_desplegable {
    height: 120px;
    background-color: #ffffff;
    border-bottom: 1px solid #D1CAC9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.contenedor_logo_desplegable img {
    width: 100px;
}

.contenedor_search_desplegable {
    width: 55%;
    text-align: center;
}

.contenedor_cerrar_desplegable {
    margin: 8px;
}

.orange_detalle {
    color: #F35B25 !important;
}

.tamaño24 {
    font-size: 35px !important;
}

input[type="search"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="search"]:focus {
    border-color: #F35B25;
}

input[type="search"]::placeholder {
    color: #9E9E9E;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.opciones_menu_desplegable {
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.contenedor_imagen_opcion_menu_desplegable img {
    height: 30px;
}

.opciones_menu_desplegable p {
    padding-left: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
}

.gris {
    background-color: #E8E2E2;
    height: 100px;
}

.masgrande {
    font-size: 18px;
    background-color: #F35B25;
    padding: 10px;
    border-radius: 25px;
    color: white;
    position: relative;
    left: -5px;
}

.contenedor_cerrar_sesion {
    display: flex;
    height: 124px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.contenedor_cerrar_sesion input {
    background-color: #F35B25;
    color: #ffffff;
    border: none;
    padding: 15px;
    width: 250px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.modal_iniciar_sesion {
    height: 50vh;
    width: 100%;
    background-color: white;
}


.no-scroll {
    overflow: hidden;
}
.modal_iniciar_sesion {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: white;
    z-index: 30;
    transition: bottom 0.5s ease;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
   
}
.modal_iniciar_sesion.active {
    bottom: 0;
}

.encabezado_modal_registro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #D1CAC9;
}

.estilos_encabezado_modal{
    color: #F35B25;
}

.modal_iniciar_sesion input[type="submit"] {
    background-color: #F35B25;
    color: #ffffff;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


.centrar_formulario_modal {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center; /* Centra horizontalmente */
    width: 90%; /* Ajusta según sea necesario */
    max-width: 400px; /* Ajusta según sea necesario */
}

.centrar_formulario_modal form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.centrar_formulario_modal input{
    width: 100%;
}

.centrar_formulario_modal label,
.centrar_formulario_modal input,
.centrar_formulario_modal button {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
}

.centrar_formulario_modal button {
    background-color: #F35B25;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.main-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    
    padding: 10px;
    background-color: white;
}

/*AJUSTAR BIEN ANCHO EN MEDIDAS MUY PEQUEÑAS */

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px; /* Margen entre las tarjetas */
    padding: 10px;
    height: 220px; /* Altura fija de la tarjeta */
}

.card img {
    display: block;
    margin: auto;
    width: 150px;
    border-radius: 10px 10px 0 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* El contenido de la tarjeta ocupa todo el espacio vertical disponible */
    justify-content: space-between; /* Distribuye el espacio verticalmente */
    padding: 10px;

}

.card-title {
    display: flex;
    align-items: center; /* Alinea el ícono y el título verticalmente */
    justify-content: space-between; /* Separa el ícono y el título a los extremos */
    font-size: 1em;
    margin-bottom: 10px;
}

.card-title h4 {
    margin: 0; /* Elimina el margen predeterminado del h4 */
}

.card-title i {
    margin-left: 10px;
    color: #F35B25;
}

.card-description {
   text-align:left;
    font-size: 1em;
    color: #555;
    
}

 footer {
    background-color: #2A3356;
    padding: 20px;
    color: white;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
} 

.modal2 {
display: none;
position: fixed;
z-index: 30;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.5);
justify-content: center;
align-items: center;
}

.modal2.active {
    display: flex;
}

.modal-content2 {
    background-color: white;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.encabezado_modal_registro2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    border-bottom: 1px solid #D1CAC9;
}

.estilo3{
    font-size: 24px;
}

.estilos_encabezado_modal2 {
    color: #F35B25;
}

.centrar_formulario_modal2 {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

.centrar_formulario_modal2 form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.centrar_formulario_modal2 label,
.centrar_formulario_modal2 input,
.centrar_formulario_modal2 button {
    margin: 10px 0;
    width: 100%;
    padding: 0px;
}

.centrar_formulario_modal2 input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.centrar_formulario_modal2 input {
    
    color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.centrar_formulario_modal2 input[type="submit"]{
    background-color: #F35B25;
    color: white;
}

.centrar_formulario_modal2 button:hover {
    background-color: #e04e1e;
}

.close2 {
    cursor: pointer;
}

.captcha2{
    width: 50px;
}

.centrar_formulario_modal2 input:focus,
.centrar_formulario_modal2 textarea:focus {
    border: 3px solid #F35B25; 
    outline: none; 
    border-radius: 5px; 
    
}
/* .formulario_busqueda {
    margin-top: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 50px;
} */

/* .formulario_busqueda input {  
    display: flex;
    padding: 10px; 
    border-radius: 5px; 
    width: 300px;
    color: black;
} */

.formulario_busqueda {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.busqueda-input-container {
    position: relative;
}

.busqueda-input-container input {
    padding: 10px 30px 10px 10px; /* Ajusta el padding para que el texto no se superponga con el ícono */
    border-radius: 5px;
    width: 300px;
    color: black;
}

.busqueda-input-container button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.busqueda-input-container button i {
    font-size: 18px;
    color: #555; /* Color del ícono */
}

.hidden {
    display: none!important;
}

.contenedor_general_añadir_producto {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 95vh;
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.contenedor_mitad_recuadro_añadir_fotografia {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden; 
    height: 200px;
}

.contenedor_mitad_recuadro_añadir_fotografia img {
    width: 100%; /* Imagen ocupa todo el contenedor */
    /* height: auto; */
    display: block; /* Elimina espacio adicional */
}

.contenedor_mitad_recuadro_añadir_formulario {
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    padding: 20px;
}

.formulario_añadir_producto {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ajusta el ancho a los elementos internos */
    gap: 15px; /* Espacio entre elementos */
}

.opcion_formulario {
    display: flex;
    flex-direction: column;
}

.opcion_formulario label {
    color: #F35B25; /* Texto blanco */
    margin-bottom: 5px;
}

.opcion_formulario input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #F35B25; /* Borde blanco */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Texto blanco */
    outline: #F35B25; /* Sin contorno al hacer foco */
}

.opcion_formulario select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #F35B25; /* Borde blanco */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Texto blanco */
    outline: #F35B25; /* Sin contorno al hacer foco */
}

.opcion_formulario option {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #F35B25; /* Borde blanco */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Texto blanco */
    outline: #F35B25; /* Sin contorno al hacer foco */
}

.opcion_formulario textarea {
    
    border-radius: 5px;
    border: 1px solid #F35B25; /* Borde blanco */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Texto blanco */
    outline: none; /* Sin contorno al hacer foco */
}

.opcion_formulario input[type="text"]:focus {
    border-color: #F35B25; /* Borde blanco al hacer foco */
}

/* Estilo para el botón (opcional) */
.opcion_formulario .boton-enviar {
    margin-top: 20px;
    background-color: #2A3356; /* Azul medio */
    color: #FFFFFF; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.opcion_formulario .boton-enviar:hover {
    background-color: #1C2340; /* Azul oscuro al pasar el ratón */
}

.maintabla{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 6px;
    width: 100%;
    /* height: 100vh; */
    padding: 10px;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 8px;
}

table button {
    width: 100%;
    border-collapse: collapse;
    font-size: 8px;
}
th, td {
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td{
    font-size: 7px;

}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

table select{
    font-size: 8px;
}

.no-scroll {
    overflow: hidden;
}

.btn_añadir_foto {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F35B25;
    cursor: pointer;
    color: white; /* Texto blanco */
    outline: none; /* Sin contorno al hacer foco */
    border-radius: 5px;
    border: 1px solid #F35B25;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.opcion_formulario input[type="submit"]{
    margin-top: 30px;
    padding: 10px;
    background-color: #F35B25;
    cursor: pointer;
    color: white; /* Texto blanco */
    outline: none; /* Sin contorno al hacer foco */
    border-radius: 5px;
    border: 1px solid #F35B25;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.modal_añadir_producto {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    
}

.modal_actualizar {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    }

    .modal_actualizar.active {
    display: flex;
    }


.modal_añadir_producto.active {
    display: flex;
}

.modal_añadir_producto-content {
    background-color: white;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.encabezado_modal_añadir_producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    border-bottom: 1px solid #D1CAC9;
}


.estilos_encabezado_modal_añadir_producto {
    color: #F35B25;
}

.centrar_formulario_modal_añadir_producto {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

.centrar_formulario_modal_añadir_producto form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.centrar_formulario_modal_añadir_producto label,
.centrar_formulario_modal_añadir_producto input,
.centrar_formulario_modal_añadir_producto select,
.centrar_formulario_modal_añadir_producto textarea,
.centrar_formulario_modal_añadir_producto button
 {
    margin: 10px 0;
    width: 100%;
    padding: 0px;
}

.centrar_formulario_modal_añadir_producto input,
.centrar_formulario_modal_añadir_producto select,
.centrar_formulario_modal_añadir_producto textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.centrar_formulario_modal_añadir_producto input,
.centrar_formulario_modal_añadir_producto select,
.centrar_formulario_modal_añadir_producto textarea {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


.close2 {
    cursor: pointer;
}

.file-input-container {
    position: relative;
    display: inline-block;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-input-label {
    display: inline-block;
    padding: 10px 20px!important;
    background-color: #F35B25;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.boton_subir_archivo{
    background-color: white!important;
    color: #F35B25!important;
}

.modal_actualizar label{
    font-size: 16px;
}

.modal_actualizar h2{
    font-size: 20px;
}

.editar{
    background-color: #F35B25!important;
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 15px;
}

.eliminar{
    background-color: #F35B25!important;
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 25px;
    margin-left: 15%;
}



.card .altoancho{
    height: 100px!important;
    width: 150px;
    object-fit: cover;
}

.nuevoancho{
    width: 200px!important;
}




.ajustarfooter{
    display: flex;
    flex-direction: column!important;
}

.maintablados{
    height: 100vh;
}

@media (min-width: 1350px) {
   .main-content{

    height: 100vh;
   }
}
